extends layout 

block content 

    h1=title

    form(action="" method="POST")
        ul 
            li 
                label(for="name") Name: 
                input(type="text" id="name" name="name" placeholder='Accessories' required= 'true' value=(category===undefined ? '' : category.name)) 
            li 
                label(for="description") Description: 
                input(type="text" id="description" name="description" placeholder='24 Karat gold bracelet' value=(category===undefined ? '' : category.description)) 
        button(type="submit") Submit
    
    if errors
        ul 
            for error in errors
                li!= error.msg