extends layout 

block content 

    h1= title 
    div(style='margin-left:20px; margin-top:20px')  
      h3(style='margin-bottom:16px; border-bottom: 1px solid #454545') Categories

      dl 
        each item in item_list
            dt
                a(href=item.url) #{item.name}
            dd(style='padding-bottom:6px;') #{item.description || ""}
        else 
            li There are no items.

